{{!-- The below creates content to fill the page.  Since this is a login page, render the login forms --}}

<form class="login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" autocomplete="on"/>
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

{{!-- use an absolute path, not a relative path - public folder is implied --}}
<script src="/javascript/login.js"></script>